*{
    margin: 0%;
    padding: 0%;
    color: white;
}
header{
    background-image:radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.945)), url(netflix.jpg);
    height: 106vh;
}
.logo{
    display: flex;
    justify-content: space-between;
    height: 40%;
}
.liftlogo img{
    height: 40px;
    float: left;
    margin-top: 3vh;
    margin-left: 23vh;
    width: 50%;
}

